.vscode
cgi-bin
.well-known
wp-admin
wp-includes
.htaccess
error_log
index.html
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-config.php
wp-config-sample.php
wp-comments-post.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php