/* Default Header 4 */
.rbb-default-header {
	&.header-4 {
		.rbb-header-sticky {
			.rbb-product-search-content2 {
				.rbb-search-form {
					-ms-box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.08);
					-o-box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.08);
					box-shadow: 3px 3px 6px #00000014;
				}
			}
			&.header-stuck {
				> .container {
					height: 100%;
					.rbb-product-search {
						display: none;
					}
				}
			}
		}
		.rbb-mini-cart {
			.dropdown {
				.mini-cart-icon {
					.cart-icon {
						top: -1px;
						position: relative;
					}
				}
			}
		}
	}
}
@media (min-width: 1200px) and (max-width: 1450px) {
	.rbb-default-header {
		&.header-4 {
			.rbb-header-sticky {
				.rbb-product-search-content2 {
					.rbb-search-form .input-group .input-search {
						min-width: 310px;
					}
					.search-categories {
						display: none;
					}
				}
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 1199px) {
	.rbb-default-header {
		&.header-4 {
			.rbb-header-sticky {
				padding-bottom: 72px;
				.rbb-product-search {
					position: absolute;
					bottom: 20px;
					right: 15px;
					left: 15px;
					display: block;
					margin-right: 0;
				}
				&.header-stuck {
					margin-bottom: 0;
					> div {
						height: 100%;
					}
					.rbb-product-search {
						display: none;
					}
				}
			}
		}
	}
	body.automize-04 {
		.rbb_results {
			&.style-results-2 {
				top: 183px !important;
			}

		}
	}
}
@media (max-width: 1023px) {
	.rbb-default-header {
		&.header-4 {
			.toggle-megamenu,
			.menu_close {
				&::after,
				&::before {
					background-color: #000;
				}
				.icon-directional {
					&::before {
						background-color: #000;
					}
				}
			}
		}
	}
}
