/* Default Header 5 */
.rbb-default-header {
	&.header-5,
	&.header-10 {
		.rbb-main-navigation {
			ul {
				li {
					&.level-1 {
						&:hover {
							> a {
								color: var(--rbb-menu-link-hover-color);
							}
						}
						> a {
							.menu-item-title {
								&::after {
									display: none;
								}
							}
						}
					}
				}
			}
		}
		&.active {
			.rbb-header-sticky {
				&::after {
					opacity: 1;
					height: 100%;
				}
			}
		}
		.rbb-header-sticky {
			&:focus-within::after,
			&:hover::after {
				opacity: 1;
				height: 100%;
			}
			&.header-stuck {
				.header-inner {
					height: 100%;
					.container-full,
					.container {
						height: 100%;
						.header-top {
							#rbb-header-top-right {
								.policy {
									display: none;
								}
							}
						}
					}
					.header-center {
						position: absolute;
						right: 0;
						top: 0;
						.rbb-header-center {
							visibility: hidden;
							z-index: -1;
							position: relative;
						}
					}
				}
				.header-bottom {
					position: absolute;
					top: 0;
					.vertical-menu {
						display: none;
					}
				}
			}
		}
		.rbb-product-search {
			.rbb-product-search-content {
				.button-icon {
					width: 30px;
					padding: 0;
					.search {
						display: none;
					}
				}
				&:hover {
					.search-icon {
						color: var(--rbb-general-secondary-color);
					}
				}
			}
		}
		.rbb-account {
			.rbb-account-icon-wrap {
				&::before {
					display: none;
				}
			}
		}
		.rbb-mini-cart {
			.dropdown {
				.cart-count {
					font-weight: bold;
				}
				.mini-cart-icon {
					.cart-icon {
						top: -1px;
						position: relative;
					}
					button {
						height: 40px;
						width: 40px;
					}
				}
			}
		}
		.policy {
			.item {
				margin-right: 30px;
				a {
					display: flex;
					align-items: center;
					color: #fff;
					font-weight: 600;
					font-size: 12px;
					transition: 0.3s;
					min-height: 40px;
					i {
						margin-right: 10px;
						font-size: 18px;
						&.rbb-icon-delivery-11 {
							font-size: 20px;
						}
					}
					p {
						margin-bottom: 0;
					}
					&:hover {
						i {
							animation: hexagonIcon 1s linear infinite;
						}
						span,
						p {
							transition: 0.3s;
							color: var(--rbb-general-secondary-color);
						}
					}
				}
				&.item-phone {
					margin-right: 0;
					p {
						span {
							color: var(--rbb-general-secondary-color);
						}
					}
				}
			}
		}
	}
}
.sidebar-header-top-content {
	.wp-block-social-links {
		font-size: 10px;
		.wp-social-link {
			transform: scale(1);
			a {
				padding: 0;
				width: 30px;
				height: 30px;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				background: #fff;
				border-radius: 100%;
				transition: 0.3s;
				svg {
					color: #000 !important;
					width: 14px;
					height: 14px;
				}
				&:hover {
					background: var(--rbb-general-secondary-color);
					svg {
						color: #fff !important;
					}
				}
			}
		}
	}
	.rbb_contact_shortcode_phone {
		color: #ffe200;
		margin-left: 30px;
		i {
			font-size: 20px;
		}
		p {
			margin-bottom: 0;
			padding-left: 20px;
			font-weight: bold;
			text-transform: uppercase;
		}
		&:hover {
			i {
				animation: hexagonIcon 1s linear infinite;
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1330px) {
	.rbb-default-header {
		&.header-5,
		&.header-10 {
			.policy {
				.item {
					margin-right: 15px;
					a {
						display: block;
						text-align: center;
					}
					&.item-phone {
						p {
							span {
								display: block;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 1199px) {
	.rbb-default-header {
		.toggle-megamenu {
			height: 14px;
			width: 18px;
			&::after,
			&::before {
				content: "";
				width: 100%;
				height: 2px;
				position: absolute;
				left: 0;
				top: 0;
				transition: all 0.3s ease;
				background-color: #fff;
			}
			&::after {
				top: auto;
				bottom: 0;
			}
			.icon-directional {
				&::before {
					content: "";
					width: 100%;
					height: 2px;
					position: absolute;
					left: 0;
					top: 6px;
					transition: all 0.3s ease;
					background-color: #fff;
				}
			}
			&.active {
				&::before {
					transform: rotate3d(0, 0, 1, 45deg);
					top: 5px;
				}
				&::after {
					transform: rotate3d(0, 0, 1, -45deg);
					bottom: 7px;
				}
				.icon-directional {
					&::before {
						background: transparent !important;
					}

				}
			}
			&:hover {
				&::after,
				&::before {
					background-color: var(--rbb-general-secondary-color);
				}
				.icon-directional {
					&::before {
						background-color: var(--rbb-general-secondary-color);
					}
				}
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1280px) {
	.rbb-default-header {
		&.header-5,
		&.header-10 {
			.rbb-header-right {
				i {
					margin-right: 0 !important;
				}
				.track-part {
					display: block;
				}
				.store-locator {
					p {
						max-width: 70px;
					}
				}

			}
		}
	}
}
@media (min-width: 768px) and (max-width: 1023px) {
	.rbb-default-header {
		&.header-5,
		&.header-10 {
			.header-inner {
				#rbb-header-right {
					.rbb-product-search {
						display: inline-flex;
						.rbb-product-search-content > span,
						.rbb-product-search-icon-wrap {
							display: block;
						}
						.search-categories {
							display: none;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 767px) {
	#rbb-default-header {
		&.header-5,
		&.header-10 {
			.header-mobile {
				.rbb-product-search {
					opacity: 1;
					visibility: inherit;
					position: static;
					.rbb-product-search-content2 {
						opacity: 0;
						visibility: hidden;
						position: absolute;
						left: 0;
						right: 0;
						z-index: 9;
					}
					&.active {
						.rbb-product-search-content2 {
							opacity: 1;
							visibility: inherit;
						}
					}
				}
			}
		}
	}
}
@keyframes slidelidown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		-ms-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}
	100% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}

